/* RESET DEFAULT */
*, html, body, div, h1, h2, h3, form, label, fieldset, input, p {margin:0; padding:0}
em, strong                  {font-style:normal; font-weight:normal}
h1, h2, h3                  {font-size:100%}
fieldset, img               {border:0}
strong                      {font-weight: bold}
em                          {font-style: italic}
* a                         {position:relative} 
a                           {outline:none}        
a img                       {border:none}     

/* TYPOGRAPHY */
body                        {font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}
h1, h2, .coppola, .eastwood {font-family: 'Courier New', 'Courier', monospace}

body, input[type=text]      {text-align: center;}
h2, .wilder, .eastwood      {text-align: left;}

h1                          {font-size: 2.5em;  line-height: 1.1em;}
.eastwood                   {font-size: 1.2em; line-height: 2.5em;}
input                       {font-size: 0.9em;}

h2                          {font-size: 1.35em; line-height: 1.3em;}
.wilder, .nolan             {font-size: 0.8em;  line-height: 1.4em;}
                            
h1, h2                      {font-style: normal; font-weight: normal;}
h1                          {letter-spacing: -1px;}
                            
.coppola                    {font-size: 5em; line-height: normal;}
h3                          {font-size: 1.25em;}

/* COLORS AND BACKGROUNDS */
body                        {background-color: #fff;}
h1, label                   {color: #222;}
body                        {color: #555;}
.eastwood                   {color: #666;}
.coppola                    {color: #ccc;}
h3                          {color: #c00;}
a                           {color: #55c;}
a:hover, a:focus            {color: #c55;}
a:visited                   {color: #85b;}
input[type='submit']        {color: #fff; background:#09c; background:-webkit-gradient(linear,0% 0,0% 100%,from(#2ae),to(#26a));background:-moz-linear-gradient(0% 100% 90deg,#2ae,#26a); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ae', endColorstr='#26a');}
input[type='submit']:hover  {background:#07a; background:-webkit-gradient(linear,0% 0,0% 100%,from(#29c),to(#258)); background:-moz-linear-gradient(0% 100% 90deg,#29c,#258);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#29c', endColorstr='#258');}
input[disabled]             {opacity:.3;}
.success                    {background:url(img/success.png) no-repeat top right;}
hr                          {background: white url(img/hr.png) no-repeat scroll 50% 50%; color: transparent;}

/* WIDTH */
body, .allen                {margin-left: auto; margin-right: auto;}
.allen /* container */      {width: 860px;} 
/* .coen.left + .coen.right == .allen */
.coen  /* column */         {width: 400px;}
.coen.joel                  {margin-right: 30px;}
.coen.ethan                 {margin-left: 30px;}
h1                          {margin-left: 60px; margin-right: 60px;}
.coppola /* bullet */       {width: 60px;} 
/* .wilder .coppola width == p and .h3 padding-left */
.wilder p, h3 /* row */     {padding-left: 60px;} 
img, .eastwood              {padding-left: 20px; padding-right: 20px;}
input                       {padding-left: 3px; padding-right: 3px;}
input[type='submit']        {padding-left: 1em; padding-right: 1em;}
#signup-div input[type='submit']  {margin-left: 30px;}
#signup-div input[type='text']    {width:230px;}
#facebook                   {width: 300px;} 
#twitter                    {width: 200px;}

/* HEIGHT */
h1, h2                      {margin-top: 30px; margin-bottom: 30px;}
img                         {padding-bottom: 40px;}
.eastwood                   {padding-top: 20px; padding-bottom: 20px;}
.wilder, .eastwood, .nolan  {margin-bottom: 20px;}
h3                          {margin-top: 5px; margin-bottom: 5px}
input                       {padding-top: 3px; padding-bottom: 3px;}
input[type='submit']        {padding-top:0.5em; padding-bottom: 0.5em;}
hr                          {height: 12px;}
#facebook                   {height: 63px;} 
#twitter                    {height: 20px; margin-top: 20px;}

/* LAYOUT */
.coen, .coppola, #facebook  {float: left;}
#twitter                    {float: right;}
 .wilder                    {overflow: hidden;}
label, input, hr, #logo     {clear: both;}
legend                      {display: none;}
                            
/* IMAGES */                
#logo                       {width: 800px; height: 160px;}
#companies                  {width: 820px; height: 50px;}
                            
/* BORDERS */               
hr                          {border: 0;}
.eastwood                   {border: 1px solid #c5c5c5; -moz-box-shadow: 1px 1px 2px #ccc; -webkit-box-shadow: 1px 1px 2px #ccc; box-shadow: 1px 1px 2px #ccc;}
input[type='submit']        {border: 1px solid #0056a3; -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}

input[type='text']          {border:none; border-bottom:#999 1px dotted;}
input[type='text'].wrong    {border-bottom-color: red;}
input[type='text'].right    {border-bottom-color: green;}

/* CURSORS */
input[type='submit']        {cursor:pointer;}



/* TO INTEGRATE */

#submit-form label {width: 10em; float: left;}
#submit-form object {margin-top: 10px;}
#status-message {float: right; font-size: 0.8em;}

textarea {border: 1px dotted #999;}




input[type='submit'] {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	outline: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

input[type='submit']:active {
	position: relative;
	top: 1px;
	color: #8bd;
}
